Workspace/Spam Classifier.code-workspace
__pycache__/spam_model.cpython-314.pyc
__pycache__/widget_ui.cpython-314.pyc
__pycache__/widget.cpython-314.pyc
Application/__pycache__/spam_model.cpython-313.pyc
Application/__pycache__/spam_model.cpython-314.pyc
Application/__pycache__/widget_ui.cpython-313.pyc
Application/__pycache__/widget_ui.cpython-314.pyc
Application/__pycache__/widget.cpython-313.pyc
Application/__pycache__/widget.cpython-314.pyc
DBConnectionEngine.py
DBCreation.py
__pycache__/DBConnectionEngine.cpython-314.pyc
Desktop/__pycache__/spam_model.cpython-314.pyc
Desktop/__pycache__/test_spam_classifier_controller.cpython-314-pytest-9.0.2.pyc
Desktop/__pycache__/widget_ui.cpython-314.pyc
Desktop/__pycache__/widget.cpython-314.pyc
Desktop/Controllers/__pycache__/spam_classifier_controller.cpython-314.pyc
Desktop/Controllers/__pycache__/test_spam_classifier_controller.cpython-314-pytest-9.0.2.pyc
Desktop/Controllers/__pycache__/widget.cpython-314.pyc
Desktop/Data/__pycache__/spam_model.cpython-314.pyc
Desktop/Models/__pycache__/spam_classifier_model_tests.cpython-314.pyc
Desktop/Models/__pycache__/spam_classifier_model.cpython-314.pyc
Desktop/Models/__pycache__/spam_model.cpython-314.pyc
Desktop/__pycache__/resources.cpython-314.pyc
Model Creation/.DS_Store
